@import "../variables";

.dkan-header {
  background-color: $navBarBackgroundColor;
  .dkan-header--nav-link > a {
    color: $navBarLink;
    &:hover,
    &:focus {
      text-decoration: underline;
      color: $navBarLink;
    }
  }
  .dkan-logo a {
    color: $navBarLink;
    fill: $navBarLink;
  }
  .dkan-header--site-identification {
    display: flex;
    align-items: center;
    width: 100%;
    div {
      margin-top: 2rem;
      margin-right: 1rem;
    }
  }
  .dkan-site-name,
  .dkan-site-slogan {
    color: $navBarLink;
    display: block;
  }
}
