// Colors.
$backgroundColor:   #f9fafb;
$borderColor:       #dce4ef;
$primaryDark:       #162e51; // blueDark.
$primary:           #06639D; // blue.
$primaryLight:      #27AAE1; // blueLight.
$primaryDust:       #dce4ef; // blueDust.
$secondaryDark:     #EAC200; // yellowDark.
$secondary:         #FFD666; // yellow.
$secondaryLight:    #FFFAEE; // yellowLight.
$grayDark:          #323A45;
$grayMedium:        #A7AAAC;
$grayLight:         #dddddd;
$grayDust:          #eeeeee;
$headingColor:      #003366;
$textColor:         #3B3B3B;
$linkColor:         #0A77BD;
$linkHoverColor:    #003366;
$navBarBackgroundColor: #0978bc;
$navBarLink:        #FFFFFF;
$navBarLinkActive:  #FFFFFF;
$navBarLinkHoverBack:   #002245;
$navBarLinkActiveBack:  #305e92;
$navBarLinkActiveHoverBack: #f2d13c;
$navBarLinkActiveHover: #FFFFFF;
$heroBackgroundColor: #0A77BD;
$heroTextColor:     #FFFFFF;
$heroHeadingColor:  #FFFFFF;
$footerBackgroundColor: #162e51;
$footerText:        #FFFFFF;
$footerLink:        #FFFFFF;
$footerLinkHover:   #FFFFFF;
// Fonts.
$fontText: 'Rubik','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$fontHeading:'Rubik Bold','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
// Alerts/Messaging.
$info:          #16A2B7;
$warning:       #FEC108;
$danger:        #DB3545;
$success:       #28A645;
// File Formats.
$csvIcon:       #0b4498;
$rdfIcon:       #e36504;
$jsonIcon:      #005051;
$pdfIcon:       #e0051e;
$xmlIcon:       #5e962c;
$zipIcon:       #3B0053;
$htmlIcon:      #1c82b8;
$dataIcon:      #666666;