// Fonts and General css.
@import "../fonts/rubik-cufonfonts-webfont/style.css";
@import "./general.scss";

// Component styles.
@import "../../components/Resource/resource.scss";

// Template styles.
@import "../../templates/FeaturedDatasets/featureddatasets.scss";